  /* tooltip styling. by default the element to be styled is .tooltip  */
  .tooltip {
    display:none;
    background:url('../img/black.png');
    font-size:12px;
    height:60px;
    width:160px;
    padding:25px;
    color:#eee;
    margin-top: 0%;
  }
    /* style the trigger elements */
  #social {
    border:0;
    cursor:pointer;
    margin:0 1px;
  }
